.header {
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
}

.install {
  background-color: #999999;
  border-radius: 4px;
  color: #fafafa;
  display: inline-block;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}
